<h1>this is the show vehicule page</h1>
<%= link_to "back", vehicules_path %>

<div>
  <p>Model : <%= @vehicule.model %></p>
  <%# <p>Capacity : <%= @vehicule.capacity persons</p> %>
  <p>Registration details : <%= @vehicule.registration_detail %></p>

  <%= link_to "Delete",
  vehicule_path(@vehicule),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</div>
