<div class="section">
  <%= link_to user_path(@user),
    data: {turbo_method: :get} do %>
      <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
    <% end %><hr>
  <h2>Edit my profile</h2>
</div>

<div class="section-blanche" >
  <h2>Public information</h2>
</div>

<div class="notification user-edit-card">
  <%= cl_image_tag @user.photo.key, width: 56, height: 56, crop: :thumb, gravity: :face, radius: :max %>
  <div class="notification-content">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :photo, as: :file %>
    </div>
  </div>
</div>

<div class="notification user-edit-card">
  <div class="notification-content">
    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :age %>
    </div>
  </div>
</div>

<div class="section-blanche" >
  <h2>Private information</h2>
</div>

<div class="notification user-edit-card">
  <div class="notification-content">
    <div class="form-inputs">
      <%= f.input :location %>
      <%= f.input :phone_number %>
      <%= f.input :payment_details %>
    </div>
  </div>
</div>

<div class="section-blanche" >
  <h2>Sign in information</h2>
</div>

<div class="notification user-edit-card">
  <div class="notification-content">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    </div>
  </div>

</div>

<div class="form-actions button-update">
  <%= f.button :submit, "Update my profile", class: "btn btn-flat" %>
</div>

<% end %>
