<h1>Bookings</h1>

<p>
<% @bookings.each do |booking| %>
  <p><strong>User:</strong> <%= booking.user.first_name %> - <%= booking.user.last_name %></p>
  <p><strong>Ride:</strong> <%= booking.ride.ride_details %></p>
  <p><strong>Seats:</strong> <%= booking.booked_seats %></p>

  <%= link_to "Cancel Booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<% end %>
</p>

<%= link_to "back to rides", rides_path %>
