<div class="home-upperbody">
  <div class="home-header">
    <%= image_tag "mauride_logo.png" %>
    <div class="home-header-text">
      <h1>Mau<span>Ride</span></h1>
      <h2>Get Started!</h2>
    </div>
  </div>

  <div class="container-home-location">
    <%= form_with url: ride_search_path, method: :get, class: "d-flex" do |f| %>
      <%= f.text_field :start_location,
            value: params[:start_location],
            class: "form-control",
            placeholder: "Search by Start Location"
        %>
      <%= f.text_field :end_location,
            value: params[:end_location],
            class: "form-control",
            placeholder: "Search by End Location"
        %>
      <%= f.submit "Search", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
