<h1>MauRide</h1>

<p>faire un form pour rechecher un ride - utiliser SEARCH</p>

<h2>RIDE</h2>
<p><%= link_to "Rides index", rides_path %></p>
<p><%= link_to "Add a new ride", new_ride_path %></p>

<h2> VEHICULE</h2>
<p><%= link_to "Vehicles index", vehicules_path %></p>
<p><%= link_to "Add a new vehicule", new_vehicule_path %></p>

<h2>BOOKING</h2>
<p><%= link_to "Bookings index", bookings_path %></p>

<h2>USER</h2>
