<div class="home-upperbody">
  <div class="home-header">
    <%= image_tag "mauride_logo.png" %>
    <div class="home-header-text">
      <h1>Mau<span>Ride</span></h1>
      <h2>Get Started!</h2>
    </div>
  </div>

  <div class="container-home-location">
    <%= form_with url: ride_search_path, method: :get do |f| %>

    <div class="notification-content">
      <p><%= f.text_field :start_location,
        value: params[:start_location],
        class: "form-control",
        placeholder: "Your Start Location"
        %></p>
      <p><%= f.text_field :end_location,
        value: params[:end_location],
        class: "form-control",
        placeholder: "Your End Location"
      %></p>
    </div>

      <div class="form-actions button-update">
        <%= f.submit "Search", class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>
