<%= link_to "Back", root_path %>

<div>
  <% @rides.each do |ride| %>
    <div class="notification" >
      <div class="notification-content">
        <p><%= link_to "Ride from #{ride.start_location} to #{ride.end_location}", ride_path(ride) %></p>
        <p><strong>Start time : </strong> <%= ride.start_time %></p>
        <p><strong>Price : </strong><%= ride.price %>Rs</p>
        <%# seats available = rides.seats - booking.booked_seats %>
      </div>
    </div>
  <% end %>
</div>

<p><%= link_to "add a new ride", new_ride_path %></p>

<%= link_to "bookings", bookings_path %>
<%= link_to "vehicules", vehicules_path %>
