<%= link_to root_path,
          data: {turbo_method: :get} do %>
            <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
          <% end %><hr>

<div>
  <% @rides.each do |ride| %>
    <div class="notification" >
      <p><strong><%= ride.start_time.strftime("%H:%M")%></strong> <%= link_to ride_path(ride) do %>
        <strong><%= ride.start_location%></strong> <i class="fa-solid fa-arrow-right"></i> <strong><%= ride.end_location%></strong></p>
      <% end %><hr>

      <div class="notification-content">
        <p><strong><%= ride.price %></strong> <i class="fa-solid fa-rupee-sign"></i></p>
        <%# seats available = rides.seats - booking.booked_seats %>
      </div>
    </div>
  <% end %>
</div>

<p><%= link_to "add a new ride", new_ride_path %></p>

<%= link_to "bookings", bookings_path %>
<%= link_to "vehicules", vehicules_path %>
