<div class="section">
  <%= link_to root_path,
    data: {turbo_method: :get} do %>
      <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
    <% end %><hr>
  <h2>Create my ride</h2>
</div>

<div class="notification" >
  <div class="notification-content">
    <%= simple_form_for @ride do |f| %>

      <%= f.input :start_location%>
      <%= f.input :end_location %>
      <%= f.input :ride_details %>
      <%= f.input :start_time, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :end_time, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :price %>
      <%= f.input :seats %>
      <%= f.association :vehicule, collection: Vehicule.where(user: current_user), label_method: :model %>
      <%= f.submit class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
