<div class="section">
  <%= link_to root_path,
    data: {turbo_method: :get} do %>
      <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
    <% end %><hr>
  <h2>Create my ride</h2>
</div>

<%# si on n'a pas deja un vehicule, on en créer un  %>



<%# si on a deja un vehicul, possibilité d'en créer un nouveau %>


<%# on peut enregistrer un ride QUE si voitures.all NON VIDE %>
<div class="notification" >
  <div class="notification-content">
    <%= simple_form_for @ride do |f| %>
      <div class="space_between">
        <p><%= f.association :vehicule, collection: Vehicule.where(user: current_user), label_method: :model %>
        </p>

        <%= link_to new_vehicule_path,data: {turbo_method: :get} do %>
          <i class="fa-solid fa-circle-plus fa-xl" style="color: #670bff;"></i>
        <% end %>
      </div>
    </div>
</div>

<div class="notification" >
  <div class="notification-content">
      <%= simple_fields_for :start_location do |p| %>
        <%= p.input :address, label: "Start location" %>
      <% end %>
      <%= simple_fields_for :end_location do |t| %>
        <%= t.input :address, label: "End location"  %>
      <% end %>

      <%= f.input :ride_details %>
      <%= f.input :start_time, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :end_time, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :price %>
      <%= f.input :seats %>
      <%= f.submit class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
