<div class="section">
  <%= link_to rides_path,
    data: {turbo_method: :get} do %>
      <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
    <% end %><hr>
  <h2>Ride</h2>
</div>

<div class="notification">
  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div>
  <div class="notification">
    <%# attention, si on rajoute une ligen ici, ca fait une colonne dans page  %>
    <div class="notification-content">
      <h2><strong><%= @ride.start_location%></strong> <i class="fa-solid fa-arrow-right"></i> <strong><%= @ride.end_location%></strong></h2>
      <p><strong>Start time : </strong><%= @ride.start_time.strftime("%-d %b %Y, %H:%M") %></p>
      <p><strong>End time : </strong><%= @ride.end_time.strftime("%-d %b %Y, %H:%M") %></p>
      <p><strong>Price : </strong><%= @ride.price %> Rs</p>
      <p><strong>Details : </strong><%= @ride.ride_details %></p>
      <%# seats available = rides.seats - booking.booked_seats %>

      <%= simple_form_for [@ride, @booking] do |form| %>
        <%= form.error_notification %>

        <div class="form-inputs">
          <%= form.input :booked_seats, collection: (1..@ride.seats) %>
        </div>

        <div class="form-actions">
          <%= form.button :submit, "Book now", class: "btn btn-flat" %>
        </div>

      <% end %>

      <%# on affiche icone poubelle  %>
      <div class="notification-actions">
        <% if current_user == @ride.vehicule.user %>
          <%= link_to ride_path(@ride),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %><hr>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Reviews</h2>
  <% @ride.reviews.each do |review| %>
    <div class="notification">
      <%# on affiche le createur de la review (image wagon pour l'instant) %>
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content">
        <p><small><%= time_ago_in_words(review.timestamp) %></small></p>
        <p><strong>Rating:</strong> <%= review.rating %></p>
        <p><strong>Comment:</strong> <%= review.comment %></p>
      </div>

      <%# on affiche icone poubelle  %>
      <div class="notification-actions">
        <% if current_user == review.user %>
          <%= link_to ride_review_path(@ride, review),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %><hr>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <h2>Add Review</h2>
  <div class="notification">
    <div class="notification-content">
      <%= simple_form_for [@ride, @review] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :comment %>
        <%= f.submit class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
