<h1><%= @ride.start_location %></h1>
<h1><%= @ride.end_location %></h1>
<p><%= @ride.ride_details %></p>
<p><%= @ride.start_time %></p>
<p><%= @ride.end_time %></p>
<p><%= @ride.price %></p>
<%# seats available = rides.seats - booking.booked_seats %>

<%= link_to "back", rides_path %>

<%= link_to "Delete",
ride_path(@ride),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<h2>Reviews</h2>
<% @ride.reviews.each do |review| %>
  <div>
    <p><strong>Rating:</strong> <%= review.rating %></p>
    <p><strong>Comment:</strong> <%= review.comment %></p>
    <p><strong><%= time_ago_in_words(review.timestamp) %></strong></p>
    <%= link_to "Delete review",
    ride_review_path(@ride, review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    <hr>
  </div>
<% end %>

<%= simple_form_for [@ride, @booking] do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <%= form.input :booked_seats, collection: (1..@ride.seats) %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, "Create Booking" %>
  </div>
<% end %>


<!-- Add Review Form -->
<h2>Add Review</h2>

<%= simple_form_for [@ride, @review] do |f| %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
    <%= f.input :comment %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
