<div class="section">
  <%= link_to rides_path,
    data: {turbo_method: :get} do %>
      <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
    <% end %><hr>
  <h2>Ride</h2>
</div>

<div class="notification" >
  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="notification user-edit-card">
  <div class="notification-content-rides">
    <h2><strong><%= @ride.start_location.address%></strong> <i class="fa-solid fa-arrow-right"></i> <strong><%= @ride.end_location.address%></strong></h2>
    <p><strong>Start time : </strong><%= @ride.start_time.strftime("%-d %b %Y, %H:%M") %></p>
    <p><strong>End time : </strong><%= @ride.end_time.strftime("%-d %b %Y, %H:%M") %></p>
    <p><strong>Price : </strong>Rs <%= @ride.price %></p>
    <p><strong>Details : </strong><%= @ride.ride_details %></p><hr>

    <div class="space_between">
      <%= form_with url: chatrooms_path, data: { turbo_method: :post } do |f| %>
        <%= f.hidden_field :user, as: :hidden, value: @ride.vehicule.user.id %>
        <%= f.submit "Send a Message", class: "btn btn-flat" %>
      <% end %>

      <%# on affiche la photo du driver pour acceder à son profil %>
      <p>
        <%= link_to user_path(@ride.vehicule.user),
          data: {turbo_method: :get} do %>
          <%= cl_image_tag @ride.vehicule.user.photo.key, width: 56, height: 56, crop: :thumb, gravity: :face, radius: :max %>
        <% end %>
      </p>
    </div>

      <div class="popup-booking">
        <%= simple_form_for [@ride, @booking] do |form| %>
          <%= form.error_notification %>
          <%= form.input :booked_seats, label: "How many seats ?", collection: (1..@ride.seats) %>
          <%= form.button :submit, "Book now", class: "btn btn-flat", onclick: "openPopup()"%>
        <% end %>
        <div class="popup" id="popup">
          <%= image_tag "tick.png" %>
          <h2>Thank You!</h2>
          <p>Your payment has been confirmed succesfully</p>
          <button onclick="closePopup()">OK</button>
        </div>
      </div>
    <% end %>


    <script>
        let popup = document.getElementById("popup");

        function openPopup(params) {
          popup.classList.add("open-popup");
        }
        function closePopup(params) {
          popup.classList.remove("open-popup");
        }
    </script>

    <div class="notification-actions">
      <% if current_user == @ride.vehicule.user %>
          <%= link_to user_path(@ride.vehicule.user),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %><hr>
      <% end %>
    </div>
  </div>
</div>
